name: Deploy Infrastructure Dev

on:
  push:
    branches:
      - dev
    paths:
      - infrastructure/**
      - .github/workflows/deploy-infra.yml
      - .github/workflows/deploy-infra-dev.yml
  workflow_dispatch:
    inputs:
      apply:
        description: Apply Terraform changes
        required: true
        default: true
        type: boolean

permissions:
  id-token: write
  contents: read

jobs:
  deploy-infra:
    uses: ./.github/workflows/deploy-infra.yml
    with:
      environment: dev
      apply: ${{ github.event_name == 'workflow_dispatch' && inputs.apply || true }}
    secrets: inherit
