name: Deploy Dev

on:
  push:
    branches:
      - dev
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    uses: ./.github/workflows/deploy.yml
    with:
      environment: dev
      web_app_url: https://dev.swatchwatch.app
    secrets: inherit
